---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <p>
    Welcome to the homepage of the <b>N</b>euro<b>I</b>maging <b>S</b>tatistics <b>Ox</b>ford (<b>NISOx</b>) research group lead by Professor Thomas Nichols's at the <a href="https://www.bdi.ox.ac.uk">Oxford Big Data Institute</a>.
    <br/> <br/>
    
    <p style = "float:left;margin-right:1em;padding-top:5px;"><img src="./img/people/group.jpeg" alt="group" width="322"></p><p style="text-align:justify">
    The NISOx group performs a wide variety of Neuroimaging research which focuses on developing Neuroimaging inference methods for large scale, population-size fMRI studies. Current areas of interest in which members of NISOx are involved in include Threshold-Free Cluster Enhancement (TFCE), Effective Connectivity, Coordinate-Based and Image-Based Meta-Analysis, to name a few. </p>

    <p>For a full list of research publications presented by the NISOx group please see the <a href="./publications/index">publications page</a>. </p>

  </p>
</div>

<table width="100%">

<tr>
<td width="70%" style="vertical-align: top;">
<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{post.excerpt | remove: '<p>' | remove: '</p>'}} <a href="{{ post.url }}"> ... see more.</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.github.url }}/blog/">Older posts&hellip;</a></p>
{% endif %}
</td>
<td width="30%">
    <a class="twitter-timeline" data-width="220" data-height="300" data-dnt="true" href="https://twitter.com/ten_photos">Tweets by ten_photos</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</td>
</tr>
</table>
