---
layout: default
title: People
---
<br>
Listed here are all collaborators, former members and current members of the <b>N</b>euro<b>I</b>maging <b>S</b>tatistics <b>Ox</b>ford (NISOx) group (formerly Neuroimaging Statistics at Warwick).
<br>
<br>
<hr>
{% for role in site.roles %}
  <h3>{{ role.name }}</h3>
  <hr>
  <dl class="people">
  {% for item in site.data.yml.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
      <dt class="person">
        {% if person.webpage %}
        <a href="{{ person.webpage |escape }}">
        {% endif %}
          {{ person.display_name }}
        {% if person.webpage %}
        </a>
        {% endif %}
      </dt>
      <dd>
        {% if person.bio %}
          {% if person.image %}
            <br>
            <p style = "float:left;margin-right:1em;padding-top:5px;"><img src="{{ person.image }}" alt="{{ person.display_name }}" width="100"></p>
          {% endif %}
          <div style="column-count:1;text-align:justify">{{ person.bio | markdownify }}</div>
        {% endif %}
      </dd>
      <hr>
    {% endif %}
  {% endfor %}
  </dl>
{% endfor %}
