---
layout: default
title: "Publications"
---
<table class="table">
<tbody>

	{%- for entry, prev_year, prev_type in entries %}
	<tr>
		<td>
			<span class="date">
				{%- if entry.fields['year'] != prev_year -%} 
				<big><strong>{{ entry.fields['year'] }}</strong></big><br />
				{% endif %}		
			</span>
		</td> 
		<td class="publication">
			<!-- {{entry|sortkey}} -->
			{%- if entry.type != prev_type or entry.fields['year'] != prev_year -%} 
			<big><strong>{{ entry|type}}</strong></big><br/>
			{% endif %}
			<span class="pubtitle">
				{%- set url = entry|main_url %} 
				{%- if url %}
				<img src="../img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="{{ url|escape }}">{{ entry|title }}</a>
				{%- else %}
				<b>{{ entry|title }}</b>
				{%- endif %}
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span>
			{%if entry|pageno != ''%}
			<span class="venuetype">{{ entry|venue_type}}{{ entry|venue -}}: {{ entry | pageno }}.</span>
			{% else %}
			<span class="venuetype">{{ entry|venue_type}}{{ entry|venue}}.</span>
			{% endif %}
			{% if entry|doi != '' %}
				doi: {{ entry | doi}}.
			{% endif %}
			{%- if entry.fields['note'] %}
			<span class="note">
			{{ entry.fields['note']|escape }}.
			</span>
			{%- endif %}
			<br />
			<span class="links">
			{%- for type, url in (entry|extra_urls).iteritems() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{%- endfor %}
<!-- 				{%- if entry.fields['abstract'] %}
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_{{entry.fields['key']}}').slideToggle('fast');return false;">abstract</a>]
				{%- endif %} -->
			</span>
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>