---
layout: default
title: Research
---

<!--
========================================================================================================================
This is a template for the main research page on the NISOx Website. It will layout the research sections (using the data
from resPages.bib).The template is rendered in resGen.py by calling to bibble.py.

Author: Tom Maullin (23/10/17)
========================================================================================================================
-->

The pages listed below each detail an area of research that NISOx and NISOx collaborators are interested in and have worked on. For a full list of publications please see the NISOx <a href = "../publications"> publications page </a>. <br> 
<br>

<!--List all research sections-->
<h4> Research pages </h4>
<br>

<ul>
	<!-- As NeuroImaging Statistics Warwick is a presentations page it is added seperately-->
	<li> <a href="../Presentations/NeuroStatWar/"> NeuroImaging Statistics Warwick </a>
		
	<!--All research pages are then added to this list here-->
	{% for page in resPages %}
		<li>
			<a href ="../Research/{{page.name}}/"> {{page.displayname}}</a>
		</li>
	{% endfor %}

</ul>
<br>
For any further queries please contact <a href="mailto:thomas.nichols@bdi.ox.ac.uk">Professor Thomas Nichols</a>.
<br><br>